

.main-login,.main-register{

	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
	padding: 10px;
	padding-top: 20px;

}

.main-login h1 {
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.login-form,.signup-form {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.col-sm-10 .labels {
	font-weight: 600;
	color: gray
}


#button {

	margin-top: 15px;
	width: 100%;
}

#forgot-password{
	text-decoration: none;
	font-size: small;
}

#create-user{
	margin-top: 50px;
}



.error-label{

	margin-left: 10px;
	font-size: 11px;
	font-weight: 600;
	color: red;
}

#user-icon {
	margin-left: 20px;
	margin-right: 10px;
}

#popup {
	display: none;
	position: absolute;

	right: 30px;
}

#navbar{
	position: relative;
}

#logout-container{
	margin-top: 13px;
	display: flex;
	gap: 7px;
}